.navbar, .header, .search-box {
  background-color: #3277D7;
  color:white
}

.nav-dropdown, .navbar .links {
  background-color: #3277D7;
}

.dropdown-wrapper:hover .nav-dropdown {
  background-color: #3277D7;

}

.dropdown-wrapper .nav-dropdown .dropdown-item a:hover 
{
  color:#fff!important;
  background-color: #3255D7;  
} 

.nav-item > a:not(.external):hover, .nav-item > a:not(.external).router-link-active {
  border-bottom-color:white;
  color: white;
}

a.sidebar-link.active {
  border-left-width:4px;
  background-color: #eee;
}

a.sidebar-link {

}
a.sidebar-sub-header {
  background-color: #eee;
}

.site-name  {
  color:white!important;
}